<p style="color: green"><%= notice %></p>

<%= render @hashtag %>
<%if @hashtag.mytweets.length > 0%>
<ul>
<%@hashtag.mytweets.each do |tweet|%>
  <li><%=tweet.content%></li>

<%end%>
</ul>
<%else%>
  <p>vous n'avez pas encore tweeté avec ce hashtag</p>
<%end%>

<p></p>
<%=render "mytweets/form",mytweet:Mytweet.new(hashtag_id:@hashtag.id)%>
<div>
  <%= link_to "Edit this hashtag", edit_hashtag_path(@hashtag) %> |
  <%= link_to "Back to hashtags", hashtags_path %>

  <%= button_to "Destroy this hashtag", @hashtag, method: :delete %>
</div>
